{% load static %}
<header>
    <div class="wrapper">
        <div id="header">
            <h1><a href="{% url 'my_journal' %}">RTK News</a></h1>
            <p>Free Website Template</p>
        </div>
    </div>
    <!-- ####################################################################################################### -->
    <div class="wrapper">
        <div id="topbar">
            <div class="fl_left">Tel: xxxxx xxxxxxxxxx | Mail: info@domain.com</div>
            <div class="fl_right">
                <form action="#" method="post">
                    <fieldset>
                        <legend>Site Search</legend>
                        <input type="text" name="search" placeholder="Search Our Website&hellip;"/>
                        <button type="submit" name="topbar_search" id="topbar_search" class="btn btn-sm button-gray-upper">
                            Search
                        </button>
                    </fieldset>
                </form>
            </div>
            <br class="clear"/>
        </div>
    </div>
    <!-- ####################################################################################################### -->
</header>