{% extends 'news/base_template.html' %}
{% load static %}
{% load bootstrap5 %}
{% block title %} Главная страница {% endblock %}

{% block head %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(function() {
    $("#search_input").autocomplete({
      source: "search_auto/",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>
{% endblock %}

{% block content %}
    <div class="content-center">
        <div class="row">

        </div>
    </div>


    <div class="row">
        <div class="text-center" style="margin-top:30px;">
            <h1>Список с новостями</h1>
        </div>
        <div class="content_center">
            <h1> Фильтр по автору (Всего :{{ articles|length }} результатов): </h1>
            <form method="post">
                <div class="row justify-content-evenly">
                    <div class="col-4">
                        <div class="form-group col-8">
                            {% csrf_token %}
                            <div class="input-group">
                                <select class="form-select" name="author_filter" style="width:40%">
                                    <option value="0">Все авторы</option>
                                    {% for author in author_list %}
                                        <option value="{{ author.id }}" {% if selected == author.id %}
                                                selected {% endif %}> {{ author.username }} ({{ author.article__count }})
                                        </option>
                                    {% endfor %}
                                </select>
                                <span class="input-group-btn">
                             <input type="submit" class="btn btn-success" value="Применить" style="margin: 0 15px">
                         </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-3">
                        <div class="search input-group">
                            <input class="form-control" placeholder="Поиск" name="search_input" id="search_input" value="{{ search_input }}">
                            <button class="btn btn-primary"> Найти</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        {% for article in articles %}
            <div class="single_news">
                <div class="p-4 p-md-5 text-white rounded bg-dark">
                    <div class="col-md-12 px-0">
                        <h1 class="display-4 fst-italic"> {{ article.title }}</h1>
                        <p class="lead my-3">{{ article.anouncement }}</p>
                        <p class="lead my-3">{{ article.text }}</p>
                        <p class="lead mb-0"><a href="{{ article.get_absolute_url }}" class="text-white fw-bold">Полный
                            текст...</a></p>
                        <p class="lead my-3"><b>({{ article.tags__count }})</b>
                            {% for tag in article.tags.all %}
                                <small>{{ tag.title }}</small>
                            {% endfor %}
                        </p>
                        <p class="lead my-3"><u>{{ article.category }}</u></p>
                        <p class="lead my-3"><i>{{ article.author.username }}</i></p>
                        <a href="{% url 'news_delete' article.pk %}" class="btn btn-warning" >Удалить</a>
                        <a href="{% url 'news_update' article.pk %}" class="btn btn-primary" >Редактировать</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
