{% load static %}

<header class="d-flex justify-content-center py-1 border-bottom"  style="z-index: 990">
    <ul class="nav nav-pills">
        {% if not is_filtered %}
        <li><a href="{% url 'publication' target='hot' %}"
               class="nav-link px-2 {% if target|default:''  == 'hot' %}active{% endif %}"><i class="bi bi-fire"></i> Горячее</a></li>
        <li style="margin-left: 50px;"><a href="{% url 'publication' target='fresh' %}"
               class="nav-link px-2 {% if target|default:''  == 'fresh' %}active{% endif %}"><i class="bi bi-person-wheelchair"></i> Свежее</a></li>
            {% if request.user.id %}
            <li style="margin-left: 50px;"><a href="{% url 'publication' target='best' %}"
                   class="nav-link px-2 {% if target|default:''  == 'best' %}active{% endif %}"><i class="bi bi-bookmark-star"></i> Лучшее</a>
            </li>
            {% endif %}
        {% else %}
            <li style="margin-left: 50px;">
                <button type="button" class="text-body-emphasis fw-bold btn btn-outline-danger rounded-pill"
                        value="clear_filter" onclick="$('button[name=clear_filter]').trigger('click')"><i class="bi bi-trash"></i> Очистить фильтр
                </button>
            </li>
        {% endif %}
    </ul>

<!--    <div class="col-md-1 text-end"></div>-->
    <div class="dropdown position-fixed top end-0 mb-3 me-3 bd-mode-toggle col-md-1 text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle text-primary"
           data-bs-toggle="dropdown" aria-expanded="false">
            {% if request.user.account.account_image.url %}
                <img src="{{ request.user.account.account_image.url }}" alt="{{ request.user.username }}"
                                 class="rounded-circle" width="35" height="35">
            {% else %}
                <i class="bi bi-person-circle text-primary" style="font-size: x-large;"></i>
            {% endif %}
        </a>
        <ul class="dropdown-menu text-small" >
            {% if request.user.id %}
                <li><a class="dropdown-item {% if request.resolver_match.view_name  == 'my_profile' %}active{% endif %}" href="{% url 'my_profile' %}">{% if request.user.id %}({{ request.user.id }}) {{ request.user.username }}{% else %}Profile{% endif %}
                    {% if user.is_superuser %}
                        (админ)
                        {% elif user.is_staff %}
                        (персонал)
                    {% endif %}
                </a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'sign_out' %}">
                    {% if request.user.id %}Выйти{% else %}Войти{% endif %}</a>
                </li>
            {% else %}
                <li><a class="dropdown-item" href="{% url 'my_registration' %}">Зарегистрироваться</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'sign_out' %}">
                    {% if request.user.id %}Выйти{% else %}Войти{% endif %}</a>
                </li>
            {% endif %}
        </ul>
    </div>
</header>
