{% extends 'my_news/my_news_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

<!-- HEADER -->
{% block header %}
{% endblock %}
<!-- /HEADER -->

<!-- SIDEBAR -->
{% block sidebar %}
{% endblock %}
<!-- /SIDEBAR -->

<!-- BODY -->
{% block body %}
    <div class="d-flex flex-column align-items-center me-5 bg-body-tertiary">

        <form method="post" class="text-center w-25">
            {% csrf_token %}
            <a href="{% url 'my_news' %}" class="d-inline-flex link-body-emphasis text-decoration-none text-white">
                    <img class="me-2" width="40" height="32" role="img"
                         src="{% static 'my_news/' %}assets/brand/MY_NEWS.png"/> MY_NEWS</a>
            <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

            {{ form|crispy }}

            <div class="form-floating p-4">
                <button class="btn btn-primary w-100 py-2" type="submit">Зарегистрироваться</button>
            </div>
        </form>
    </div>
{% endblock %}
<!-- /BODY -->