{% extends 'my_news/my_news_base.html' %}
{% load static %}

{% block body %}
    <div class="py-3 text-center">
<h2 class="bi bi-person-circle text-primary"></h2>
        <h2>Профиль</h2>
      <p class="lead">Заполни все и ничего не произайдет</p>
    </div>

    <div class="row mx-5">
      <div class="col-md-5 col-lg-4 order-md-last pt-5">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-primary">Твоя история</span>
          <span class="badge bg-primary rounded-pill" title="лайкнули за сегодня">+3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Твои публикации</h6>
              <small class="text-body-secondary">то что ты сам написал</small>
            </div>
            <span class="text-body-secondary">12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">В горячем</h6>
              <small class="text-body-secondary">то что высоко оценили</small>
            </div>
            <span class="text-body-secondary">0</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Сохраненные</h6>
              <small class="text-body-secondary">потом почитать или интересное что пригодиться</small>
            </div>
            <span class="text-body-secondary">5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
            <div class="text-success">
              <h6 class="my-0">Твой рейтинг</h6>
              <small>новичек</small>
            </div>
            <span class="text-success">+50</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <span>Коментариев оставил</span>
            <strong>20</strong>
          </li>
        </ul>
      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Основные данные</h4>
        <form class="needs-validation"  method="post">
          {% csrf_token %}
          <div class="row g-3">
            <div class="col-sm-6">
              <label for="firstName" class="form-label">Имя</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>

            <div class="col-sm-6">
              <label for="lastName" class="form-label">Фамилия</label>
              <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="">
              <div class="invalid-feedback">
                Valid last name is required.
              </div>
            </div>

            <div class="col-12">
              <label for="username" class="form-label">Логин</label>
              <div class="input-group has-validation">
                <span class="input-group-text">@</span>
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="">
              <div class="invalid-feedback">
                  Your username is required.
                </div>
              </div>
            </div>

            <div class="col-12">
              <label for="email" class="form-label">Email <span class="text-body-secondary">(Optional)</span></label>
              <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>
            <div class="col-12">
              <label for="phone" class="form-label">Телефон <span class="text-body-secondary">(Optional)</span></label>
              <input type="text" class="form-control" id="phone" name="phone" placeholder="79523039933">
              <div class="invalid-feedback">
                Please enter a valid email address for shipping updates.
              </div>
            </div>

            <div class="col-md-5">
              <label for="country" class="form-label">Страна</label>
              <select class="form-select" id="country" name="country" required="">
                <option value="">Choose...</option>
                <option value="1">Россия</option>
                <option value="1">Россия опять</option>
                <option value="1">Россия (Опять? А ты как думал.)</option>
              </select>
              <div class="invalid-feedback">
                Please select a valid country.
              </div>
            </div>

            <div class="col-md-4">
              <label for="state" class="form-label">Город</label>
              <select class="form-select" id="state" name="state" required="">
                <option value="">Choose...</option>
                <option value="1">Москва</option>
                <option value="2">Санкт-Петербург</option>
                <option value="3">Деревня Гадюкино</option>
              </select>
              <div class="invalid-feedback">
                Please provide a valid state.
              </div>
            </div>

          </div>

          <hr class="my-4">

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="all-agree" name="all-agree">
            <label class="form-check-label" for="all-agree">Согласен с соглашениями</label>
          </div>

          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="save-info" name="save-info">
            <label class="form-check-label" for="save-info">Спамить мне на все контакты рекламой и новостями</label>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit">Обновить данные</button>
        </form>
      </div>
    </div>
{% endblock %}