{% extends 'my_news/my_news_base.html' %}
{% load static %}


{% block head %}
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
  $(function() {
    $("#search_news").autocomplete({
      source: "{% url 'search_news'%}",
      select: function (event, ui) { //item selected
        AutoCompleteSelectHandler(event, ui)
      },
      minLength: 2,
    });
  });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>
{% endblock %}

{% block body %}
    <h1>{{ target }}</h1>
    <div class="row me-5">
        <div class="col-md-9 col-lg-9">
            {% for article in articles %}
                <div class="p-4 p-md-5 rounded">
                    <div class="col-md-12 px-0">
                        <h1 class="display-4 fst-italic"> {{ article.title }}
                            {% if request.user.id  == article.author.id %}
                                <a href="{% url 'article' article_id=article.id mode='edit' %}"
                                   class="btn btn-outline-primary rounded-pill">Редактировать свою
                                    статью</a>
                            {% endif %}
                        </h1>
                        <p class="lead">{{ article.anouncement }}....</p>
                        <p class="lead mt-1"><a
                                href="{% url 'article' article_id=article.id mode='view' %}"
                                class="text-body-emphasis fw-bold btn btn-outline-primary rounded-pill">Перейти к
                            статье...</a></p>
                        <p class="lead my-3"><b>Теги ({{ article.tags__count }}): </b>
                            {% for tag in article.tags.all %}
                                <u class="ms-2"><small>{{ tag.title }}</small></u>
                            {% endfor %}
                        </p>
                        <p class="lead my-3"><b>Категория: </b><u>{{ article.category }}</u>
                            <b class="ms-5">Автор: </b><i>{{ article.author.username }}</i></p>
                    </div>

                </div>
            {% endfor %}
            <!-- Создание ссылок на другие страницы -->
            <nav aria-label="Page navigation example">
                <ul class="pagination  justify-content-center">
                    {% if articles.has_previous %}
                        <li class="page-item"><a class="page-link" href="?">в начало</a></li>
                    {% endif %}
                    <li class="page-item {% if not articles.has_previous %}disabled{% endif %}">
                        <a class="page-link"
                                {% if articles.has_previous %} href="?page={{ articles.previous_page_number }}"
                                {% endif %}>Previous</a>
                    </li>
                    {% if articles.number|add:"-3" > 0 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ articles.number|add:"-3" }}">
                                {{ articles.number|add:"-3" }}</a>
                        </li>
                    {% endif %}
                    {% if articles.number|add:"-2" > 0 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ articles.number|add:"-2" }}">
                                {{ articles.number|add:"-2" }}</a>
                        </li>
                    {% endif %}
                    {% if articles.number|add:"-1" > 0 %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ articles.number|add:"-1" }}">
                                {{ articles.number|add:"-1" }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="#">{{ articles.number }}</a></li>
                    {% if articles.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ articles.number|add:"1" }}">
                                {{ articles.number|add:"1" }}</a>
                        </li>
                    {% endif %}
                    <li class="page-item {% if not articles.has_next %}disabled{% endif %}">
                        <a class="page-link"
                            {% if articles.has_next %} href="?page={{ articles.next_page_number }}"
                            {% endif %} >Next</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 col-lg-3">
            <div class="position-sticky" style="top: 2rem; max-height: 1200px; overflow: auto;">
                <form method="post">
                    {% csrf_token %}
                    {% if is_filtered %}
                        <div class="p-4 mb-3 bg-body-tertiary rounded">
                            <h4 class="fst-italic">Найдено {{ articles_count }}</h4>
                        </div>
                    {% endif %}
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Быстрый поиск</h4>
                        <div class="form-group" title="поиск по заголовку и анонсу">
                            <div class="search input-group">
                                <input class="form-control" placeholder="Поиск" name="search_news" id="search_news" value="{{ search_news }}">
                                <button class="text-body-emphasis fw-bold btn btn-outline-primary">Найти</button>
                            </div>
                        </div>
                    </div>
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Теги</h4>
                        <div class="input-group">
                            <select class="form-select" name="tags_filter" style="width:40%" multiple>
                                <option value=""></option>
                                {% for tag in tags_list %}
                                    <option value="{{ tag.id }}"
                                            {% if tag.id in tags_selected %}
                                            selected {% endif %}>
                                        {{ tag.title }} ({{ tag.num_articles }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="p-4 mb-3 bg-body-tertiary rounded">
                        <h4 class="fst-italic">Авторы</h4>
                        <div class="input-group">
                            <select class="form-select" name="authors_filter" style="width:40%" multiple>
                                <option value=""></option>
                                {% for author in authors_list %}
                                    <option value="{{ author.id }}"
                                            {% if author.id in authors_selected %}
                                            selected {% endif %}>
                                        {{ author.username }} ({{ author.myarticle__count }})
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="input-group-btn p-2">
                        <button type="submit" name="filter" class="text-body-emphasis fw-bold btn btn-outline-primary rounded-pill"
                               value="filter">Фильтр</button>
                        {% if is_filtered %}
                        <button type="submit" name="clear_filter" class="text-body-emphasis fw-bold btn btn-outline-danger rounded-pill"
                                value="clear_filter">Очистить фильтр</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="blog-pagination py-1" aria-label="Pagination">
        <a class="btn btn-outline-primary rounded-pill" href="#">Вверх</a>
    </div>

{% endblock %}