{% extends 'my_news/my_news_base.html' %}
{% load static %}

<!-- HEADER -->
{% block header %}
{% endblock %}
<!-- /HEADER -->

<!-- SIDEBAR -->
{% block sidebar %}
{% endblock %}
<!-- /SIDEBAR -->

<!-- BODY -->
{% block body %}
    <div class="d-flex flex-column w-100 h-100 align-items-center py-4 bg-body-tertiary">

        <form class="text-center w-25">
            <span><img class="me-2" width="40" height="32" role="img" src="/static/my_news/assets/brand/MY_NEWS.png">MY_NEWS</span>
            <h1 class="h3 mb-3 fw-normal">Давай логинься</h1>

            <div class="form-floating p-1">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating p-1">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            {#    <div class="form-check text-start my-3">#}
            {#      <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">#}
            {#      <label class="form-check-label" for="flexCheckDefault">#}
            {#        Remember me#}
            {#      </label>#}
            {#    </div>#}
            <div class="form-floating p-4">
                <a class="btn btn-primary w-100 py-2" href="{% url 'my_news' %}" type="submit">Sign in</a>
                <!--    <button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>-->
            </div>
        </form>
    </div>
{% endblock %}
<!-- /BODY -->