<!doctype html>
{% load static %}
{% load bootstrap5 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{{title}}</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1><a href="{% url 'home' %}" class="btn btn-info"> hello world {{Header1}}</a></h1>
        </div>
        <div class="col-md-3">
            <p><a href="{% url 'about' %}"> about </a></p>
            <p><a href="{% url 'contacts' %}"> contacts </a></p>
            <p><a href="{% url 'sidebar' %}"> sidebar </a></p>
        </div>
        <div class="col-md-3">
            {% if value > 0 %}
            <b>Переменная больше нуля</b>
            {% elif value == 0 %}
            <b>Переменная равна нулю</b>
            {% else %}
            <b>Переменная меньше нуля</b>
            {% endif %}
            <p>value + 1 = {{value|add:"1"}}</p>
            <p>val = {{val|default:"нет данных"}}</p>
        </div>

        <div class="col-md-3">
            <ul>
                {% for n in numbers %}
                <li>{{n}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <label class="alert alert-info text-center">Новости</label>
        <ul>
            {% for n in news %}
            <li>{{n.title|upper}} {{n.text|lower}} - {{n.date}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <label class="alert alert-info text-center">Словарь</label>
        <ul>
            {% for key, value in dictionary.items %}
            <li>{{key}} - {{value}}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <label class="alert alert-info text-center">Выберите цвет</label>
        <form method="post">
            {% csrf_token %}
        {% for color in colors %}
        <label for="{{color}}">
            <input type="radio" id="{{color}}" name="colors" value="{{ forloop.counts}}">
            {{color}}
        </label>
        {% endfor %}
            <button type="submit" class="btn btn-info" >Сохранить</button>
        </form>
    </div>

    <div class="row">
        <label class="alert alert-info text-center">Форма товара</label>
        <form method="post">
            {% csrf_token %}

        <label for="product_title" class="form-control">Название:</label>
        <input class="form-control" id="product_title" name="product_title" value="">

        <label for="product_price" class="form-control">Цена:</label>
        <input class="form-control" id="product_price" name="product_price" value="">

        <label for="product_quantity" class="form-control">Кол-во:</label>
        <input class="form-control" id="product_quantity" name="product_quantity" value="">

            <button type="submit" class="btn btn-info" >Сохранить</button>
        </form>
    </div>


    <div class="row">
        <label class="alert alert-info text-center">Продукты</label>
        <table>
            <thead>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
            </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <td><b>Итого</b></td>
            <td>-</td>
            <td>-</td>
            </tfoot>
        </table>
    </div>

</div>

</body>
</html>