{% load static %}
{% load bootstrap5 %}
{% load bootstrap_icons %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html lang="en">
<div class="container" >
    <div class="row" style="height: 100%">
        <div class="col-md-3" style="white-space: nowrap">
            <h1 class="alert-danger">{% bs_icon 'arrow-through-heart' size='1.5em' %} МЕНЮ</h1>
            <div class="alert-info">
                <a href="{% url 'home' %}"><h2>{% bs_icon 'diagram-3-fill' size='1.5em' %}  index </h2></a>
                <a href="{% url 'about' %}"><h2>{% bs_icon 'ear-fill' size='1.5em' %}  about </h2></a>
                <a href="{% url 'contacts' %}"><h2>{% bs_icon 'fingerprint' size='1.5em' %}  contacts </h2></a>
                <a href="{% url 'sidebar' %}"><h2>{% bs_icon 'alarm' size='1.5em' %}  sidebar </h2></a>
            </div>
        </div>
        <div class="col-md-9 alert-success">
            {% bs_icon 'arrow-through-heart' size='1.5em' %}
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Nisi porta lorem mollis aliquam ut porttitor leo. Ut etiam sit amet nisl purus in
            mollis. Lobortis scelerisque fermentum dui faucibus in ornare quam viverra orci. Sed tempus urna et pharetra
            pharetra massa massa ultricies mi. Eget est lorem ipsum dolor sit. Quis vel eros donec ac odio tempor. Sed
            id semper risus in. Enim blandit volutpat maecenas volutpat blandit aliquam. In dictum non consectetur a
            erat nam at lectus urna.
            {% bs_icon 'arrow-through-heart' size='1.5em' %}
            Lectus sit amet est placerat. Ultrices dui sapien eget mi proin sed libero enim sed. Viverra aliquet eget
            sit amet tellus cras adipiscing enim. Mauris augue neque gravida in fermentum et sollicitudin ac. Proin sed
            libero enim sed faucibus turpis. Arcu odio ut sem nulla pharetra. Eu scelerisque felis imperdiet proin
            fermentum. Nibh nisl condimentum id venenatis. Ornare lectus sit amet est placerat in egestas. Ornare massa
            eget egestas purus viverra. Ipsum a arcu cursus vitae congue mauris rhoncus. Congue mauris rhoncus aenean
            vel elit scelerisque mauris. Sed enim ut sem viverra aliquet eget sit amet. Eu volutpat odio facilisis
            mauris. Convallis convallis tellus id interdum. Fringilla est ullamcorper eget nulla facilisi. Egestas sed
            tempus urna et pharetra pharetra. In fermentum posuere urna nec tincidunt praesent semper feugiat nibh.
            Feugiat vivamus at augue eget arcu dictum varius.
            {% bs_icon 'arrow-through-heart' size='1.5em' %}
            Congue mauris rhoncus aenean vel. Consectetur adipiscing elit pellentesque habitant morbi tristique senectus
            et netus. Sollicitudin ac orci phasellus egestas tellus rutrum tellus. Adipiscing elit pellentesque habitant
            morbi tristique senectus et. Quam id leo in vitae. Massa massa ultricies mi quis hendrerit dolor magna eget
            est. Fermentum iaculis eu non diam phasellus vestibulum lorem. Eleifend quam adipiscing vitae proin sagittis
            nisl rhoncus mattis rhoncus. Tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Neque
            vitae tempus quam pellentesque. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla.
            Eleifend mi in nulla posuere sollicitudin.
            {% bs_icon 'arrow-through-heart' size='1.5em' %}
            Nisi quis eleifend quam adipiscing vitae proin sagittis. Elit scelerisque mauris pellentesque pulvinar
            pellentesque habitant morbi tristique. Commodo odio aenean sed adipiscing diam donec adipiscing. Etiam
            tempor orci eu lobortis elementum nibh tellus. Orci ac auctor augue mauris augue neque gravida in. Diam
            donec adipiscing tristique risus nec feugiat in fermentum posuere. Ac orci phasellus egestas tellus. Non
            enim praesent elementum facilisis leo vel fringilla. Luctus accumsan tortor posuere ac ut consequat semper
            viverra nam. Convallis convallis tellus id interdum velit laoreet id donec ultrices. At auctor urna nunc id
            cursus. Fusce id velit ut tortor pretium viverra suspendisse potenti nullam. Mi eget mauris pharetra et.
            {% bs_icon 'arrow-through-heart' size='1.5em' %}
            Nisi lacus sed viverra tellus in. Eu ultrices vitae auctor eu. Commodo elit at imperdiet dui accumsan sit
            amet. Ut placerat orci nulla pellentesque dignissim. Lectus vestibulum mattis ullamcorper velit sed. Platea
            dictumst quisque sagittis purus sit amet. Lacus luctus accumsan tortor posuere ac. Congue quisque egestas
            diam in arcu cursus euismod quis. Urna cursus eget nunc scelerisque viverra mauris. Ullamcorper eget nulla
            facilisi etiam. Blandit turpis cursus in hac habitasse platea dictumst quisque sagittis. Rhoncus dolor purus
            non enim. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Sit amet tellus cras adipiscing
            enim. Molestie at elementum eu facilisis sed odio morbi. Suscipit adipiscing bibendum est ultricies integer
            quis auctor. Rutrum tellus pellentesque eu tincidunt tortor aliquam nulla. In egestas erat imperdiet sed
            euismod nisi porta lorem. Ligula ullamcorper malesuada proin libero nunc consequat interdum varius.
        </div>
    </div>
</div>