body {
    background-color: rgb(128, 128, 128);
}

#header {
    background: #212529;
    color: white;
    text-align: center;
}
/*div.breadcrumbs {*/
/*    background: #0D6EFD;*/
/*}*/
/*.module caption{*/
/*background: #0D6EFD;}*/

/*.form-group label {*/
/*    float: left;*/
/*    text-align: left;*/
/*    font-weight: normal;*/
/*}*/

/*.form-group select {*/
/*    display: inline-block;*/
/*    width: auto;*/
/*    vertical-align: middle;*/
/*}*/